@page
@model ProiectWeb.Pages.Facturi.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Factura</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Factura.Contact.Nume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Factura.Contact.Nume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Factura.Proprietate.Adresa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Factura.Proprietate.Adresa)

        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Factura.suma)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Factura.suma)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Factura.Data)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Factura.Data)
        </dd>

    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Factura.ID">Edit</a> |
    <a asp-page="./Index">Înapoi la listă</a>
</div>
