@page
@model DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Proprietate</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Proprietate.Tip_oferta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proprietate.Tip_oferta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Proprietate.Zona)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proprietate.Zona)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Proprietate.Nr_camere)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proprietate.Nr_camere)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Proprietate.Suprafata)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proprietate.Suprafata)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Proprietate.Amplasament)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proprietate.Amplasament)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Proprietate.Adresa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proprietate.Adresa)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Proprietate.ID">Edit</a> |
    <a asp-page="./Index">Înapoi la listă</a>
</div>