@page
@model ProiectWeb.Pages.Clienti.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Șterge</h1>

<h3>Ești sigur că vrei să ștergi acest client?</h3>
<div>
    <h4>Client</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.Nume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.Nume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.Nr_tel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.Nr_tel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.Email)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Contact.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Înapoi la listă</a>
    </form>
</div>
