@page
@model ProiectWeb.Pages.Clienti.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Șterge</h1>

<h3>Ești sigur că vrei să ștergi acest client?</h3>
<div>
    <h4>Client</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Nume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Nume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.NrTel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.NrTel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Email)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Client.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Înapoi la listă</a>
    </form>
</div>
