@page
@model ProiectWeb.Pages.Facturi.DetailsModel

@{
    ViewData["Title"] = "Detalii";
}

<h1>Detalii</h1>

<div>
    <h4>Comanda</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comanda.Client.Nume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Comanda.Client.Nume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comanda.Foodtruck.Adresa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Comanda.Foodtruck.Adresa)

        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comanda.Suma)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Comanda.Suma)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comanda.Data)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Comanda.Data)
        </dd>

    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Comanda.ID">Edit</a> |
    <a asp-page="./Index">Înapoi la listă</a>
</div>
