@page "/"
@model ProiectWeb.Pages.Facturi.IndexModel

@{
    ViewData["Title"] = "Index";
}


<p>
    <a asp-page="Create">Creează o comanda</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Comanda[0].Client.Nume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comanda[0].Foodtruck.Adresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comanda[0].Suma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comanda[0].Data)
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Comanda)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Client.Nume)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Foodtruck.Adresa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Suma)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>



                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Editează</a> |
                                    <a asp-page="./Details" asp-route-id="@item.ID">Detalii</a> |
                                    <a asp-page="./Delete" asp-route-id="@item.ID">Șterge</a>
                </td>
            </tr>
        }
    </tbody>
</table>
